* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("image/winter.jpg");
  background-size: cover;
}

/* 계산기 설정 */
.calculator {
  display: flex;
  flex-direction: column;
  background-color: #f2f4f6;
  padding: 0.1rem;
  width: 350px;
  height: 500px;
  border: 0.1rem solid #c3d4e7;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem 0.5rem grey;
}

.viewer {
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  border-radius: 20px;
  margin: 0.5rem;
  flex: 1;
  box-shadow: 0.1rem 0.1rem 0.1rem grey;
}

.viewer input {
  border: unset;
  padding: 0.8rem;
  background: unset;
  text-align: right;
  font-size: 2rem;
  color: #0095ff;
}

.viewer > input:focus {
  outline: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  flex: 5;
}

/* btn-conatiner 하위 div */
.command {
  display: flex;
  flex: 1;
}

.command button {
  background-color: #0095ff;
  color: white;
  font-size: 1rem;
  flex: 1;
}
.number-container {
  flex: 5;
  display: flex;
}

/* number-conatiner 하위 div */
.number {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.operator {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.number > div {
  display: flex;
  flex: 1;
}

.number button {
  background-color: white;
  flex: 1;
}

.operator button {
  background-color: #0049fe;
  color: white;
  flex: 1;
}

/*버튼 공통 설정*/
button {
  background: unset;
  border: unset;
  border-radius: 50px;
  font-size: 1.5rem;
  margin: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.2rem grey;
}

button:hover {
  color: white;
  background-color: #2c394a;
  font-weight: bold;
  transition: 0.5s;
}

.snowflake {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -8px;
  /* animation: fall 10s linear; */
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
