* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("https://www.10wallpaper.com/wallpaper/1366x768/2106/Macos_Monterey_2021_Apple_WWDC_5K_Poster_1366x768.jpg")
    no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  /* background-color: #0a0a0a; */
  padding: 1px;
  border-radius: 10px;
  width: 250px;
  height: 300px;
}

.header {
  display: flex;
  gap: 5px;
  background-color: #5b595b;
  padding: 8px;
  border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
}

.header > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.close {
  background-color: #f35f59;
}

.minimization {
  background-color: #fabd2e;
}

.maximize {
  background-color: #56c840;
}

.viewer {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  background-color: #5b595b;
}

.viewer > input {
  background: unset;
  color: white;
  text-align: right;
  border: unset;
  font-size: 40px;
}

.viewer > input:focus {
  outline: none;
}

.button-container {
  background-color: #5b595b;
  display: flex;
  flex: 5;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
}

.number-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.operator {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
}

.operator > button {
  background-color: #f89f0b;
}

.number-container > div {
  display: flex;
}

.interface-button {
  flex: 1;
}

.number {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.number > div {
  display: flex;
  flex: 1;
}

.zero {
  flex: 2 !important;
}

button {
  flex: 1;
  background-color: #838283;
  border: none;
  border-radius: 0;
  padding: 0;
  color: #e8e8e8;
  font-size: 20px;
  outline: 1px solid #5b595b;
}
.interface-button > button {
  background-color: #6b696b;
}
